<!-- <b>{{$ctrl}}</b> -->
<div class="customerDetail">
	<!-- <profile-image imgSrc="{{ctrl.customer.profilePic}}"> -->
	<span class="customerDetails">{{$ctrl.customer.name}}</span>

	<!-- Fields should be turned into an editable form on click. -->
	<div ng-show="$ctrl.customerIsSelected()">
		<label>Email: </label>
		<span
			class="customerDetails"
			ng-show="$ctrl.hasEmail()">
			{{$ctrl.currentCustomer().email}}
		</span>
		<div ng-hide="$ctrl.hasEmail()">
			<input type="tel" ng-model="$ctrl.customerUpdates.email" placeholder="fun@treehouse.com">
			<button ng-click="$ctrl.updateCustomer()">Add email</button>
		</div>

		<br>
		<label>Phone: </label>
		<span
			class="customerDetails"
			ng-show="$ctrl.hasPhone()">
			{{$ctrl.currentCustomer().phone}}
		</span>
		<div ng-hide="$ctrl.hasPhone()">
			<input type="tel" ng-model="$ctrl.customerUpdates.phone" placeholder="(512) 555-5555">
			<button ng-click="$ctrl.updateCustomer()">Add phone</button>
		</div>
	</div>

</div>
<hr>