<!-- <b>{{$ctrl}}</b> -->
<b>customer-detail</b> <!-- TBR: to be removed -->
<div class="customerDetail">
	<!-- <profile-image imgSrc="{{ctrl.customer.profilePic}}"> -->
	<span class="customerDetails">{{$ctrl.customer.name}}</span>

	<div ng-show="$ctrl.customerIsSelected()">
		<label>Email: </label>
		<span
			ng-show="$ctrl.hasEmail()"
			class="customerDetails">
			log me here
			{{$ctrl.currentCustomer().email}}
		</span>
		<div ng-hide="$ctrl.hasEmail()">
			<input type="tel" ng-model="$ctrl.currentCustomer().email" placeholder="fun@treehouse.com">
			<button ng-click="$ctrl.updateCustomer()">Add email</button>
		</div>

		<br>
		<label>Phone: </label>
		<div ng-switch="$ctrl.customer.phone">
			<span ng-switch-when="$ctrl.hasPhone()" class="customerDetails">{{$ctrl.currentCustomer().phone}}</span>
			<div ng-switch-default>
				<input type="tel" ng-model="$ctrl.currentCustomer().phone" placeholder="(512) 555-5555">
				<button ng-click="$ctrl.updateCustomer()">Add phone</button>
			</div>
		</div>
	</div>

</div>
<hr>